/* --- Global Styles --- */
body {
    background-color: #2674c1;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* --- Navbar Section --- */
h1 {
    font-weight: light;
    font-size: 4rem;
    font-family:  'Brush Script MT';
}

/* Style for logo and icon color */
.logo img {
    max-width: 100%;
}

.icon-white {
    color: white;
}


/* --- Button Styles --- */
.btn-circle {
    background-color: white;
    /* Warna latar belakang button */
    border: none;
    /* Menghilangkan border */
    border-radius: 50%;
    /* Membuat button berbentuk lingkaran */
    width: 100px;
    /* Sesuaikan dengan ukuran yang diinginkan */
    height: 100px;
    /* Sesuaikan dengan ukuran yang diinginkan */
    display: flex;
    /* Menggunakan flexbox untuk penataan */
    flex-direction: column;
    /* Menyusun icon dan teks secara vertikal */
    justify-content: center;
    /* Menyelaraskan konten di tengah secara vertikal */
    align-items: center;
    /* Menyelaraskan konten di tengah secara horizontal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Menambahkan bayangan */
    cursor: pointer;
    /* Menunjukkan bahwa ini bisa diklik */
    transition: transform 0.3s;
    /* Animasi saat hover */
    margin: 5px;
    /* Mengatur jarak antar button */
}

.btn-circle:hover {
    transform: scale(1.05);
    /* Efek zoom saat hover */
    /* background-color: #d3d63a; */
    box-shadow: 0 0 40px rgb(255, 255, 0);
    background-color: rgba(255, 255, 0, 0.9);
    /* Warna latar belakang lebih terang saat hover */
}

.btn-circle i {
    font-size: 24px;
    /* Ukuran icon */
    color: #0e61b5;
    /* Warna icon */
}

.btn-circle span {
    font-weight: bold;
    /* Menebalkan teks */
    font-size: 14px;
    /* Ukuran teks */
    text-align: center;
    /* Menyelaraskan teks di tengah */
    color: #0e61b5;
    /* Warna teks */
}

.button-container {
    margin-bottom: 10px;
    /* Mengatur jarak antara button dan elemen di bawahnya */
}

.btn-circle span {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: #0e61b5;
}

.btn-circle.loading {
    animation: rotate 1s linear infinite;
    /* Tambahkan animasi putar */
}


/* button custom */
.btn-custom {
    background-color: rgba(255, 255, 0, 0.9);
    box-shadow: 0 0 5px rgb(255, 255, 0);
    color: #000000;
    padding: 10px 20px;
    /* Ukuran padding untuk tombol */
    border: none;
    /* Menghilangkan border */
    border-radius: 5px;
    /* Membuat sudut tombol sedikit melengkung */
    font-size: 16px;
    /* Ukuran font */
    text-decoration: none;
    /* Menghilangkan garis bawah */
    display: inline-block;
    /* Mengubah tombol agar sesuai dengan padding */
    transition: background-color 0.3s ease;
    /* Animasi transisi warna */
}

/* Gaya saat tombol di-hover */
.btn-custom:hover {
    background-color: #ffffff;
    /* Warna saat di-hover */
}



/* --- Navbar Custom Style --- */
.navbar-custom {
    border-bottom: 2px solid #f2ff00;
    /* Pembatas bawah */
    background-color: rgba(0, 51, 102, 0.5);
    box-shadow: 0 4px 8px rgba(255, 255, 0, 0.9);
    /* Bayangan */
    padding: 10px 0;
    /* Jarak atas dan bawah */
    position: fixed;
    /* Membuat navbar tetap di atas saat scroll */
    top: 0;
    /* Memastikan navbar berada di atas */
    width: 100%;
    /* Pastikan navbar memenuhi lebar layar */
    z-index: 1000;
    /* Pastikan navbar berada di atas elemen lain */
    height: 80px;
}


/* .navbar-custom .row {
    width: 100%;
    margin: 0;
} */

.menu-buttons {
    padding-top: 100px;
    /* Atur padding top sesuai kebutuhan */
}



/* Button Popup */
.swal2-confirm {
    display: none !important;
    /* Menghilangkan tampilan tombol konfirmasi */
}

.swal2-popup {
    padding-bottom: 0 !important;
    /* Mengurangi padding di bagian bawah */
}



@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* --- Map Container --- */
.map-container {
    width: 100%;
    height: 750px;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    overflow: hidden;
    max-width: 1900px;
    margin: auto;
}

/* --- Responsive Adjustments --- */
@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    .map-container {
        height: 400px;
        /* Sesuaikan tinggi untuk tampilan mobile */
    }

    .btn-region {
        padding: 0.8rem;
        font-size: 0.9rem;
    }

    /* Adjust icon size on smaller screens */
    .icon-white {
        font-size: 2rem;
    }
}



/* MAP 2 */
#map2 {
    height: 600px;
    width: 100%;
    margin-top: 150px;
    margin-bottom: 20px;
    z-index: 0;
    margin-bottom: 1.5rem;
    border-radius: 15px;
    overflow: hidden;
    z-index: 0;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

/* Media query untuk perangkat kecil */
@media (max-width: 768px) {
    #map2 {
        height: 400px;
        /* Mengurangi tinggi peta pada perangkat kecil */
    }
}

.navbar-custom2 {
    border-bottom: 2px solid #f2ff00;
    /* Pembatas bawah */
    background-color: rgba(0, 51, 102, 0.5);
    box-shadow: 0 4px 8px rgba(255, 255, 0, 0.9);
    /* Bayangan */
    padding: 10px 0;
    /* Jarak atas dan bawah */
    position: fixed;
    /* Membuat navbar tetap di atas saat scroll */
    top: 0;
    /* Memastikan navbar berada di atas */
    width: 100%;
    /* Pastikan navbar memenuhi lebar layar */
    z-index: 1000;
    /* Pastikan navbar berada di atas elemen lain */
    height: 80px;
}



/* Card indx2.html */
.card {
    max-width: 1400px;
    /* Atur lebar maksimum card */
    width: 100%;
    /* Atur lebar card agar responsif */
    margin: 100px auto 20px;
    /* Jarak atas untuk menghindari navbar + auto center */
    background-color: #fff;
    /* Warna latar belakang card */
    border-radius: 8px;
    /* Sudut card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Bayangan */
    overflow: hidden;
    /* Menghindari konten overflow */
    transition: max-height 0.3s ease;
    /* Animasi untuk pembukaan card */
    margin-bottom: 20px;
    /* Jarak antara card dengan card lainnya */
}


.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    /* Warna latar belakang header card */
    box-shadow: 0 0 40px rgb(90, 90, 90);
    color: #000000;
    /* Warna teks */
    font-weight: bold;
    /* Teks tebal */
    cursor: pointer;
    /* Menunjukkan bisa diklik */
}

.card-body {
    display: none;
    color: #000;
    text-align: left;
}

.card.open .card-body {
    display: block;
}

.rounded {
    border-radius: 30px !important;
    /*Aturnilairadiussesuaikebutuhan*/
    -webkit-border-radius: 15px;
    -moz-border-radius: 30px !important;
    -ms-border-radius: 30px !important;
    -o-border-radius: 30px !important;
    -webkit-border-radius: 30px !important;
}


.icon-black {
    color: rgb(0, 0, 0);
}

.card-header {
    cursor: pointer;
}

.container {
    max-width: 1600px;
    /* Ubah sesuai kebutuhan */
    margin: auto;
    /* Agar tetap berada di tengah */
    padding: 10 15px;
    /* Sesuaikan padding jika perlu */

}



/* Card indx3.html */
.card2 {
    max-width: 1400px;
    /* Atur lebar maksimum card */
    width: 100%;
    /* Atur lebar card agar responsif */
    margin: 75px auto;
    /* Jarak atas untuk menghindari navbar + auto center */
    background-color: #fff;
    /* Warna latar belakang card */
    border-radius: 8px;
    /* Sudut card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Bayangan */
    overflow: hidden;
    /* Menghindari konten overflow */
    transition: max-height 0.3s ease;
    /* Animasi untuk pembukaan card */
    margin-bottom: 20px;
    /* Jarak antara card dengan card lainnya */
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    /* Warna latar belakang header card */
    box-shadow: 0 0 40px rgb(90, 90, 90);
    color: #000000;
    /* Warna teks */
    font-weight: bold;
    /* Teks tebal */
    cursor: pointer;
    /* Menunjukkan bisa diklik */
}

.card-body {
    display: none;
    color: #000;
    text-align: left;
}

.card.open .card-body {
    display: block;
}

.rounded {
    border-radius: 30px !important;
    /*Aturnilairadiussesuaikebutuhan*/
    -webkit-border-radius: 15px;
    -moz-border-radius: 30px !important;
    -ms-border-radius: 30px !important;
    -o-border-radius: 30px !important;
    -webkit-border-radius: 30px !important;
}


.icon-black {
    color: rgb(0, 0, 0);
}

.card-header {
    cursor: pointer;
}

.container {
    max-width: 1600px;
    /* Ubah sesuai kebutuhan */
    margin: auto;
    /* Agar tetap berada di tengah */
    padding: 10 15px;
    /* Sesuaikan padding jika perlu */

}

.carousel-container {
    margin-top: 120px;
    width: 100%;
    overflow: hidden;
}


.carousel-inner {
    overflow: hidden;
    width: 100%;
}

.carousel-item {
    width: 100%;
}

.carousel-inner img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}